<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <p th:text="${person.getName()}">NAME</p>
    <p th:text="${'Age: '+person.getAge()}">AGE</p>
    <p th:text="${'Email: '+person.getEmail()}">EMAIL</p>
    <p th:text="${person.getId()}">ID</p>
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Edit">
    </form>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>